<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
	<modules>
    <remove name="WebDAVModule" />
  </modules>
      <handlers>
	 <remove name="WebDAV" /> 
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\IG.CG.ServiceManagement.WebApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>

	
		
	
  <system.web>
    <httpRuntime executionTimeout="600" />
  </system.web>

	
<system.webServer>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="2147483647" />
    </requestFiltering>
  </security>
</system.webServer>



</configuration>
<!--ProjectGuid: 34ace1f4-c8f7-4f07-88e5-7119a16bc536-->